:root {

    --bg-color: #f5f5f5;
    --primary-color: #2F4858;
    --secondary-color: #33658a;
    --accent-color: #86BBD8;
    --accent2-color: #F6AE2D;
    --accent3-color: #F26419;

    --card-bg: #FFF;


    --border-radius: 12px;
    --box-shadow: 0 8px 4px 0 silver;

    --space-small: 8px;
    --space-medium: 16px;
    --space-big: 32px;

}

body {
    background-color: var(--bg-color);
}

.primary {
    color: var(--accent3-color)
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.card {
    padding: var(--space-medium);
    border-radius: var(--border-radius);
    background-color: var(--card-bg);
    box-shadow: var(--box-shadow);
}



.main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.head-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.content-container {
    width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}



.input-group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

.link-group {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}